<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/JS/script.js" defer></script>
</head>

<body>
  <h1><%= title %></h1>

  <button type="button" class="button" id="myBtn">New writing</button>

  <main class="main">
  <ul>
    <% messages.forEach((message,index) => { %>
      <li>
        <strong><%= message.user %></strong>
        <%= message.text %>
        <a href  ="/message/<%= index %>">Open</a>
      </li>
    <% }) %>
  </ul>
</main>
  
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>

      <h2 style="text-align:center; margin-top:0;">Add New Message</h2>

      <form method="POST" action="/new">
        <input type="text" name="messageUser" placeholder="Enter your name" required>
        <input type="text" name="messageText" placeholder="Enter your message" required>
        <button type="submit" name="button" style="width:100%; margin-top:10px;">Submit</button>
      </form>

    </div>

  </div>
  


</body>

</html>